<li class="p-2">
  <div class="card" style="width: 18rem">
    <img [src]="photo" class="card-img-top" [alt]="name" />
    <div class="card-body">
      <h5 class="card-title">{{ name }}</h5>
      <p class="card-text">{{ description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">PREÇO: R${{ price }}</li>
      <li class="list-group-item">
        <button class="btn btn-outline-primary" (click)="addDrink()">Adicionar ao carrinho</button>
      </li>
    </ul>
  </div>
</li>
